In [1]:
from tools import get_path,station_info,merge_dataFrame
import pandas as pd

fileName_list = get_path()
stations_df = station_info()
all_in_out = merge_dataFrame(fileName_list, stations_df)
station_in_out= pd.concat(all_in_out)
station_in_out1 = station_in_out.sort_values(by='日期')
station_in_out1

              日期  站名     進站     出站
0     2019-04-23  基隆   8442   7743
153   2019-04-23  鎮安     15     14
154   2019-04-23  林邊    368    325
155   2019-04-23  佳冬     95     95
156   2019-04-23  東海     66     50
...          ...  ..    ...    ...
86454 2023-12-31  成功   1229   3101
86455 2023-12-31  彰化  19617  16699
86456 2023-12-31  花壇   1864   1532
86444 2023-12-31  潭子   3517   3091
86551 2023-12-31  瑞穗    811   1053

[406761 rows x 4 columns]

In [2]:
years = station_in_out1['日期'].dt.year
station_in_out1.groupby(by=[years,'站名'])[['進站','出站']].aggregate(["min","max"])

            進站          出站
           min   max   min   max
日期   站名
2019 七堵   2103  7417  2438  8078
     三坑    426  1606   499  1778
     三塊厝    79   777   108   720
     三姓橋   505  2125   408  1407
     三民      0    52     1    57
...        ...   ...   ...   ...
2023 鼓山     67   958    76  1055
     龍井    126  2131   114  5506
     龍泉      0    92     1   271
     龍港      8   106     7   130
     龜山     31   255    33   287

[1198 rows x 4 columns]

In [6]:
years_months = station_in_out1['日期'].dt.strftime('%Y-%m')
station_in_out2 = station_in_out1.groupby(by=[years_months,'站名'])[['進站','出站']].aggregate(['min','max'])
station_in_out2

               進站          出站
              min   max   min   max
日期      站名
2019-04 七堵   4616  6635  4552  7042
        三坑   1139  1432  1102  1493
        三塊厝   312   416   319   485
        三姓橋   976  1745   924  1230
        三民      7    18     6    18
...           ...   ...   ...   ...
2023-12 鼓山    382   958   401  1055
        龍井    347   801   360   737
        龍泉      8    48    12   271
        龍港     15    87    15    61
        龜山     48   255    48   287

[13619 rows x 4 columns]

In [5]:
bool1 = station_in_out2['進站']['min'] < 100
bool1

日期       站名
2019-04  七堵     False
         三坑     False
         三塊厝    False
         三姓橋    False
         三民      True
                ...
2023-12  鼓山     False
         龍井     False
         龍泉      True
         龍港      True
         龜山      True
Name: min, Length: 13619, dtype: bool

In [7]:
station_in_out2[bool1]

             進站        出站
            min   max min  max
日期      站名
2019-04 三民    7    18   6   18
        三貂嶺  41   217  63  304
        上員   40    85  50   89
        中里   22    64  35   75
        九讚頭  39    80  42   82
...          ..   ...  ..  ...
2023-12 集集   89  1409  62  911
        頂埔   56   134  51  149
        龍泉    8    48  12  271
        龍港   15    87  15   61
        龜山   48   255  48  287

[4529 rows x 4 columns]

In [8]:
bool2 = (station_in_out2['進站']['min'] < 100) & (station_in_out2['進站']['max'] < 100)

station_in_out2[bool2]

             進站      出站
            min max min  max
日期      站名
2019-04 三民    7  18   6   18
        上員   40  85  50   89
        中里   22  64  35   75
        九讚頭  39  80  42   82
        內獅    1   7   0    7
...          ..  ..  ..  ...
2023-12 萬榮   32  62  16   74
        談文   28  81  26   79
        鎮安   19  49  24  188
        龍泉    8  48  12  271
        龍港   15  87  15   61

[2271 rows x 4 columns]